<!-- base.html -->
<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <head>
        <title>{%block title %}CrowScrape{% endblock %}</title>
        </head>
    <body>
        {% if user.is_authenticated %}
        <header>
            <a href="{% url 'home' %}" class ="header-btn">Home</a>
            <a href="{% url 'track_price' %}" class ="header-btn">Track Price</a>
            <a href="{% url 'item_price_graph' %}" class ="header-btn">Item Price Graph</a>
            <a href="{% url 'list_items' %}" class ="header-btn">Item List</a>
            <a href="{% url 'bulk_track' %}" class ="header-btn">Bulk Track</a>
            <a href="{% url 'admin:index' %}" class ="header-btn">Admin</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class ="form-btn">Logout</button></form>
        </header>
        {% else %}
        <header>
            <a href="{% url 'home' %}" class ="header-btn">Home</a>
            <a href="{% url 'track_price' %}" class ="header-btn">Track Price</a>
            <a href="{% url 'item_price_graph' %}" class ="header-btn">Item Price Graph</a>
            <a href="{% url 'list_items' %}" class ="header-btn">Item List</a>
            <a href="{% url 'bulk_track' %}" class ="header-btn">Bulk Track</a>
            <a href="{% url 'admin:index' %}" class ="header-btn">Admin</a>
            <a href="{% url 'login' %}" class ="header-btn">Login</a>
        </header>
        {% endif %}
    </body>
<body>
    {% block content %}{% endblock %}
</body>
</html>
