<!-- item_price_graph.html -->
<!DOCTYPE html>
{% extends "app/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<body>
    <h1>Item Price Graph</h1>

    <form method="GET">
    {% csrf_token %}
    {{ form }} <input type="submit" value="Show Graph">
    </form>
    <div>
        <!-- Display the graph using the base64 encoded data -->
        <img src="data:image/png;base64,{{ plot_data }}" alt="Price History Graph">
    </div>
    <script>
        $(document).ready(function () {
            // On change of item_category field, update the item options based on selected category
            $('#id_item_category').change(function () {
                var category = $(this).val();

                // AJAX request to fetch items based on selected category
                $.ajax({
                    url: '{% url "get_items_by_category" %}',
                    data: {
                        category: category
                    },
                    dataType: 'json',
                    success: function (data) {
                        $('#id_item_id').empty(); // Clear current options

                        // Add fetched items as options for item_id field
                        $.each(data.items, function (key, value) {
                            $('#id_item_id').append('<option value="' + key + '">' + value + '</option>');
                        });
                    }
                });
            });
        });
    </script>

</body>
{% endblock content%}

</html>
