{% extends "app/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content%}
    <h1>{{ title }}</h1>

<table>
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Price</th>
            <th>URL</th>
        </tr>
    </thead>
    <!-- To Fix price display -->
    <tbody>
        {% for item in page_obj %}
            <tr>
                <td>{{ item.item_name }}</td>
                <td>{{ item.price.price }}</td>
                <td>{{ item.item_url }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Pagination links -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
