<!DOCTYPE html>
<html lang="en">
        {% load static %}
        <head>
            <title>Success</title>
            <link rel="stylesheet" href="{% static 'style.css' %}"> </head>
        <body>
            <header>
                <a href="{% url 'home' %}" class ="header-btn">Home</a>
                <a href="{% url 'track_price' %}" class ="header-btn">Track Price</a>
                <a href="{% url 'item_price_graph' %}" class ="header-btn">Item Price Graph</a>
                <a href="{% url 'list_items' %}" class ="header-btn">Item List</a>
                <a href="{% url 'bulk_track' %}" class ="header-btn">Bulk Track</a>
                <a href="{% url 'admin:index' %}" class ="header-btn">Admin</a>
    
            </header>
<body>
    <h1>Success</h1>
    <p>{{ message }}</p>
    <a href="{% url 'track_price' %}">Track Another Price</a>

</body>
</html>
