<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>Track Price</title>
        <link rel="stylesheet" href="{% static 'style.css' %}"></head>
    <body>
        <header>
            <a href="{% url 'home' %}" class ="header-btn">Home</a>
            <a href="{% url 'track_price' %}" class ="header-btn">Track Price</a>
            <a href="{% url 'item_price_graph' %}" class ="header-btn">Item Price Graph</a>
            <a href="{% url 'list_items' %}" class ="header-btn">Item List</a>
            <a href="{% url 'bulk_track' %}" class ="header-btn">Bulk Track</a>
            <a href="{% url 'admin:index' %}" class ="header-btn">Admin</a>

        </header>
<body>
    <form method="post" action="{% url 'track_price' %}">
        {% csrf_token %}
        <label for="url">Enter URL:</label>
        <input type="text" id="url" name="url" required><br><br>
        <label for="item_name">Item Name:</label>
        <input type="text" id="item_name" name="item_name"><br><br>
        <label for="id_category">Category:</label>
        <input type="text" id="id_category" name="category"><br><br>
        <input type="submit" value="Track Price">


    </form>
</body>
</html>
